* {
    padding: 0;
    margin: 2pt;
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: black;
}

a{
    text-decoration: none;
}


#mainlist ul{
    display: inline-block;
    margin: 0 auto;
    padding: 16px;
    width: 100%;
    height: 16px;
    list-style: none;
}

ul {
    background-color: black;
    color: white;
    list-style: none;
    padding: 30pt;
    border-radius: 2pt;
}

#home,#courses,#about {
    text-decoration: none;
    background-color: white;
    border-radius: 1px;
    padding: 2px;
    padding-right: 5px;
    display: inline-block;  
}

#li1 {
    margin-top: 9px; 
    margin-left: 5px;
}

 h2 {
     text-align: center;
     font-family:Arial, Helvetica, sans-serif;
     color: goldenrod;
 }

 .main {
     margin-top: 15pt;
 }
 .latestnews {
     padding-top: 15pt;
     padding-bottom: 15pt;
 }

 #latest {
     text-align: center;
 }

 #img1, #img2, #img3 {
     width: 100px;
     border-radius: 50px;
 }

 .image1,.image2,.image3 {
     display: inline-block;
 }
 .image1 {
     float: left;
     padding-left: 100pt;
 }
 .image3 {
     float: right;
     padding-right: 100pt;
 }

 .courseoverview {
    padding-top: 15pt;
    padding-bottom: 15pt;
}

 .workshop {
     background-image: url('learning.png');
     background-repeat: no-repeat;
     background-attachment: local;
     background-size: cover;
     color: black;
     display: inline-flex;
}
#img4 {
    width: 900px;
    height: 200px;
}

.venue {
    background-image: url('learning.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    color: black;
    display: inline-flex;
}
#img5 {
    width: 900px;
    height: 200px;
}

.onlinecourse {
    background-image: url('learning.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    color: black;
    display: inline-flex;
}
#img6 {
    width: 900px;
    height: 200px;
}


.contactus {
    text-align: center;
    padding-top: 15pt;
    padding-bottom: 15pt;
}
#subject {
    width: 240pt;
}
#message {
    width: 240pt;
    height: 100pt;
}

.bottom {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 2px;
}
